.abc-slideshow {
  position: relative;

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-initialized .slick-slide {
    @include flex(flex, column, center, center, center);
  }

  .slick-item {
    position: relative;
    width: 100%;
    height: 350px;

    .background-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba($color-brand-primary, 1) 0%, rgba($color-white, .2) 100%);
      }
    }

    .wrapper {
      @include flex(inline-flex, column, flex-start, flex-start, center);
      position: relative;
      height: 100%;
      z-index: 1;
    }

    .wrapper .card {
      padding: $section-padding calc(#{$section-padding} / 2) $section-padding calc(#{$section-padding} / 2);
      max-width: 500px;
    }

    .wrapper .card .tag-line {
      margin-bottom: $p-1;
    }

    .wrapper .card h2 {
      margin-bottom: $p-2;
    }

    .wrapper .card > *:not(.btn-default) {
      color: $color-white;
    }

    .wrapper .card .tag-line,
    .wrapper .card h2 {
      text-transform: uppercase;
    }
  }

  .slick-slider-controls {
    @include flex(flex, column, center, center, center);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .slider-controls {
    background-color: $color-brand-primary;
    padding: $p-1 $p-1 $p-1 $p-3;

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      left: -100vw;
      height: 36px;
      background-color: $color-brand-primary;
    }
  }

  @include for-tablet {
    .slick-item {
      height: 500px;

      .wrapper .card h2 {
        font-size: 56px;
      }
    }
  }

  @include for-laptop {
    .slick-slider-controls {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}