.abc-product-grid {
  padding: calc(#{$section-padding} / 2) 0;

  .title {
    padding: 0 0 $p-2 calc(#{$section-padding} / 2);

    .tag-line {
      color: $color-brand-primary;
      margin-bottom: $p-1;
    }

    .tag-line,
    h2 {
      text-transform: uppercase;
    }
  }

  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    .product-category {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .category {
        @include animate(background-color, color);
        position: absolute;
        left: $p-1;
        bottom: $p-1;
        background-color: $color-brand-primary;
        color: $color-white;
        padding: $p-1 $p-2;
        font-weight: 500;
        text-transform: uppercase;
      }

      &:hover {
        .category {
          background-color: $color-white;
          color: $color-brand-primary;
        }
      }

      &:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
      }

      &:nth-child(2){
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
      }

      &:nth-child(3){
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
      }

      &:nth-child(4){
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
      }
    }
  }

  @include for-tablet {
    padding: $section-padding 0;

    .title {
      padding-bottom: $p-4;
    }

    .product-grid {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 350px 350px;

      .product-category {
        &:first-child {
          grid-column: 1 / span 1;
          grid-row: 1 / span 2;
        }

        &:nth-child(2){
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
        }

        &:nth-child(3){
          grid-column: 3 / span 1;
          grid-row: 1 / span 1;
        }

        &:nth-child(4){
          grid-column: 2 / span 2;
          grid-row: 2 / span 1;
        }
      }
    }
  }
}