// Colour
$color-brand-primary: #2C466E;
$color-brand-secondary: #A92E31;

$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #666666;
$color-grey-light: #E5E5E5;

// Padding
$p-1: 10px;
$p-2: 20px;
$p-3: 30px;
$p-4: 40px;

$section-padding: 60px;

// Breakpoints
$break-points: (
  small: 480px,
  medium: 767px,
  large: 1320px,
  xlarge: 1600px,
);