// Colour
$color-brand-primary: #2C466E;
$color-brand-secondary: #A92E31;

$color-white: #FFFFFF;
$color-black: #A92E31;
$color-grey-dark: #666666;
$color-grey-light: #E5E5E5;

// Padding
$p-1: 10px;
$p-2: 20px;
$p-3: 30px;
$p-4: 40px;

// Breakpoints
$break-points: (
  small: 640px,
  medium: 960px,
  large: 1200px,
  xlarge: 1600px,
);